.page-header
  %h2
    항해일지

%div
  .panel.panel-primary
    .panel-heading
      오늘의 항해일지
    .panel-body
      = render 'form'

%section
  %ul.list-inline
    - Emotion.sign.values.each do |sign|
      %li
        = link_to sign.text, canoe_sailing_diaries_path(@canoe, emotion: sign)

%section
  .row
    - @sailing_diaries.each do |sailing_diary|
      .col-sm-6
        = render sailing_diary
