.page-header
  %h2 선원

.row
  - @memberships.each do |membership|
    .col-sm-3.col-xs-6
      .panel.panel-default[membership]
        .panel-body
          = byline membership.user
          - if can? :cancel, membership
            %small.pull-right
              = link_to '탈퇴', cancel_canoe_memberships_path(canoe_id: @canoe), method: :delete, class: 'text-danger'

.page-header
  %h3 승선 요청
%ul.list-unstyled
  - @boarding_requests.each do |boarding_request|
    %li[boarding_request]
      = render boarding_request
