.page-header
  %h2
    Members

%ul.list-unstyled
  - @memberships.each do |membership|
    %li[membership]
      = byline membership.user

.page-header
  %h3 Boarding Requests
%ul.list-unstyled
  - @boarding_requests.each do |boarding_request|
    %li[boarding_request]
      = render boarding_request
