- proposal = activity.trackable
- proposal_request = proposal.proposal_request
.panel.panel-default
  .panel-body
    = byline proposal.user
    님이
    %strong #{proposal.title}
    를 제안하였습니다.
    %u #{proposal_request.title}
