- proposal = activity.trackable
- proposal_request = proposal.proposal_request
.text-muted
  = activity.created_at
  제안 "#{proposal_request.title}"
%div
  #{byline proposal.user}님이 "#{proposal.title}" 제안을 새로 올립니다.
