- proposal = activity.trackable
- proposal_request = proposal.proposal_request
= byline proposal.user
님이 제안을
%strong #{proposal.title}로 고쳤습니다.
= date_f activity.created_at
%u #{proposal_request.title}
