= render 'discussions/header', page_title: Discussion.human_attribute_name(:consensus)

= form_for [:consensus, @discussion] do |f|
  .form-group
    ~ f.text_area :consensus, class: 'form-control', rows: 20
  .form-group
    = f.submit '저장'
