= render 'discussions/header'

- if @discussions.inbox.any?
  %section
    %h3 inbox
    = render @discussions.inbox
  %hr

- if @discussions.archived.any?
  %section
    %h3 archived
    = render @discussions.archived
