= render 'discussions/header'

- if @discussions.inboxed.any?
  %section
    %h3 inbox
    = render @discussions.inboxed
  %hr

- if @discussions.archived.any?
  %section
    %h3 archived
    = render @discussions.archived
