= render 'discussions/header'

- if @discussions.inboxed.any?
  %section
    %h4 논의중
    .row.masonry-container
      - @discussions.inboxed.each do |discussion|
        .col-sm-4
          = render discussion
  %hr

- if @discussions.archived.any?
  %section
    %h4 종료
    .row.masonry-container
      - @discussions.archived.each do |discussion|
        .col-sm-4
          = render discussion
