= render 'discussions/header', page_title: '합의이력'

%ul.list-unstyled
  - @discussion.consensus_revisions.recent.each do |revision|
    %li
      = link_to revision do
        = byline revision.user
        = date_f revision.created_at
