= render 'discussions/header', page_title: link_to('합의이력', discussion_consensus_revisions_path(@discussion))

- previous_version = @consensus_revision.previous_version
- if previous_version.present?
  = simple_format Diffy::Diff.new(previous_version.body, @consensus_revision.body, :include_plus_and_minus_in_html => true).to_s(:html)
- else
  = @consensus_revision.body
