%ul.nav.nav-sidebar
  %li.active
    = link_to '홈', @canoe
  %li
    %a{:href => "#"} 회원
  %li
    %a{:href => "#"} 논의
  %li
    %a{:href => "#"} 투표
  %li
    %a{:href => "#"} 항해지도
  %li
    %a{:href => "#"} 위키
  %li
    %a{:href => "#"} 대화방
