%section
  .container-fluid
    .page-header
      %h2 전체 카누
    .row
      - @canoes.each do |canoe|
        .col-sm-6.col-md-4
          .thumbnail
            = link_to canoe do
              %img{:alt => "100%x200", "data-holder-rendered" => "true", "data-src" => "holder.js/100%x200", :src => canoe.logo_url, :style => "height: 200px; width: 100%; display: block;"}
            .caption
              %h3
                = link_to canoe.title, canoe
              %p ...
              %p
                %a.btn.btn-primary{:href => "#", :role => "button"} Button
                %a.btn.btn-default{:href => "#", :role => "button"} Button
