- proposal_request = activity.trackable
.panel.panel-default
  .panel-body
    = byline proposal_request.user
    님이
    %strong #{proposal_request.title}
    제안을 요청하였습니다.
    = date_f activity.created_at
