%section.pattern-trianglify{ style: 'background-size: cover;' }
  .container
    .jumbotron.jumbotron-transparent
      .text-center
        %h1
          %strong> 더 즐거운 팀
          을 만들고 싶으세요?
        %h2
          %strong> 카누
          를 팀과 실험해 보세요
%section
  .container
    .jumbotron.jumbotron-transparent
      %h2.text-center
        %strong> 카누
        를 쓰면 어떤 장점이 있나요?
      .row{ style: 'margin-top: 48px;'}
        .col-sm-4
          %p.text-center
            %strong{ style: 'border-bottom: 2px solid #666'} 의사결정 시스템
            을 통해 팀이 더 수평하게 상호작용합니다.

        .col-sm-4
          %p.text-center
            팀원들의
            %strong{ style: 'border-bottom: 2px solid #666'} 경험과 감정
            을 공유하고 기록합니다.

        .col-sm-4
          %p.text-center
            팀의 의사결정과, 팀원의 경험을 팀의
            %strong{ style: 'border-bottom: 2px solid #666'} 역사
            이자
            %strong{ style: 'border-bottom: 2px solid #666'} 정체성
            으로 만들어 갑니다.

%section{ style: 'background-color: #f3f3f7' }
  .container
    .jumbotron.jumbotron-transparent
      %h2.text-center
        지금 바로 실험해 보세요.
      %p.text-center
        베타 기간 동안은 누구나 무료로 카누를 이용할 수 있으며,
        %br
        현재
        %strong{ style: 'border-bottom: 2px solid #666'} #{User.count}
        명의 모험가가
        %strong{ style: 'border-bottom: 2px solid #666'} #{Canoe.count}
        개의 카누를 타고 항해 중입니다
      %p.text-center
        = link_to new_canoe_path, class: 'btn btn-danger btn-lg' do
          %i.fa.fa-cube
          카누 만들기
        = link_to canoes_path, class: 'btn btn-primary btn-lg' do
          %i.fa.fa-search
          카누 찾기
