%section.pattern-trianglify{ style: 'background-size: cover;' }
  .container
    .jumbotron.jumbotron-transparent
      %h2
        %strong> 카누
        로 해적단같은 조직을 만들어 봅시다
      %p
        %strong{ style: 'border-bottom: 2px solid #666'} #{Canoe.count}
        개의 카누를,
        %strong{ style: 'border-bottom: 2px solid #666'} #{User.count}
        명이 나눠 타고 항해 중입니다
      %p
        = link_to '카누는 왜 만들었을까요?', 'https://github.com/parti-xyz/canoe-web/wiki', target: '_blank', class: 'btn btn-danger btn-lg'
        = link_to new_canoe_path, class: 'btn btn-primary btn-lg' do
          %i.fa.fa-cube
          카누 바로 만들기
