%section
  .page-header
    %h2 위키

  %section#wiki-show
    .panel.panel-default
      .panel-body
        %h3.wiki-title
          = @wiki.title
          %small
            = link_to '수정', [:edit, @wiki]
            = link_to '삭제', @wiki, method: :delete, data: { confirm: 'are you sure?' }
        = markdown @wiki.body
