.canoe-image {
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.concensus-body {
  h6 {
    font-size: 105%;
  }
  h5 {
    font-size: 110%;
  }
  h4 {
    font-size: 115%;
  }
  h3 {
    font-size: 120%;
  }
  h2 {
    font-size: 125%;
  }
  h1 {
    font-size: 130%;
  }
}
