#canoe-mobile-tabs {
  margin-bottom: 16px;
  .nav-tabs {
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
  }
  .nav > li {
    float: none;
    margin: 0;
    a {
      padding: 8px 12px;
      border: 1px solid $brand-primary;
      margin-right: -1px;
    }
    &.active > a {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

.canoe-image {
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.discussion-body,
.concensus-body {
  h6 {
    font-size: 105%;
  }
  h5 {
    font-size: 110%;
  }
  h4 {
    font-size: 115%;
  }
  h3 {
    font-size: 120%;
  }
  h2 {
    font-size: 125%;
  }
  h1 {
    font-size: 130%;
  }
}

.activity:not(.activity--opinion--opinion) + .activity.activity--opinion--opinion {
    margin-top: 20px;
}

.activity:not(.activity--opinion--opinion) + .activity:not(.activity--opinion--opinion) {
    margin-top: 10px;
}

#discussion-block {
  section {
    margin-bottom: $font-size-base * 3;
  }
}