form.new_sailing_diary .textoverlay-wrapper .textoverlay,
form.edit_sailing_diary .textoverlay-wrapper .textoverlay,
.sailing_diary {
  .emotion {
    background-color: $brand-light;
    opacity: 0.8;
    border: 1px solid #c0c0c2;
    border-radius: 4px;
  }
}

.sailing_diary {
  .emotion {
    padding: 0 3px;
  }
}

.sailing-diary-container {
  .col-sm-6:first-child {
    z-index: 999;
  }
}
