#wiki-show {
  .wiki-title {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: $font-size-base;
    margin-top: $font-size-base;
    margin-bottom: $font-size-base * 2;
  }
  & > .panel > .panel-body {
    padding: 20px 30px;
  }
}